
<nav class="navbar navbar-primary  bg-primary">
  <a class="navbar-brand" href="#">
    <div  width="30" height="30" class="d-inline-block align-top " alt="">
      TodoList 
    </div>
    <div class="btn btn-primary">
      <h1 >TodoList</h1>
    </div>
  </a>
</nav>

    <div class="container">

      <div class="row">
       	<div class="col-md-12">{{outlet}}</div>
      </div>

    </div>
